<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head">
</head>

<body class="vertical-layout vertical-menu-modern content-left-sidebar navbar-floating footer-static" data-open="click"
	data-menu="vertical-menu-modern" data-col="content-left-sidebar">

	<nav th:replace="layout/layout :: cabecera"></nav>

	<div th:replace="layout/layout :: ladera"></div>

	<div class="app-content content file-manager-application">

		<div class="content-body">
			<!-- Validation -->
			<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
				th:text="${mensaje}" class="alert">
			</div>

			<section class="bs-validation">


				<div class="row">
					<div class="col-md-4 col-12">
						<div class="card">
							<div class="card-header">
                                <h4 class="card-title">FORMULARIO CARRERA</h4>
                            </div>
                            <div class="card-body">
                                    <form th:action="@{/carrera/RegistrarCarrera}" method="post" enctype="multipart/form-data">
                                        <input type="hidden" th:field="${carrera.id_carrera}">                                        
                                        <div class="row">
                                            
                                            <div class="mb-1 col-md-6">
                                                <label class="form-label" for="basic-addon-name">CARRERA</label>
                                                <input type="text" class="form-control" placeholder="Introdusca carrera" th:field="${carrera.nom_carrera}" required />
                                                <div class="valid-feedback">Datos Validos en el Campo!</div>
                                                <div class="invalid-feedback">Porfavor Introduca Datos Validos!</div>
                                            </div>
                                            
                                            <div class="mb-1 col-md-6">
                                                <label class="form-label" for="basic-addon-name">FACULTAD</label>

                                                <select class="form-control" th:field="${carrera.facultad}">
                                                    <option th:each="f : ${facultads}" th:value="${f.id_facultad}" th:text="${f.nom_facultad}" th:if="${f.estado != 'X'}"></option>
                                                </select>

                                                <div class="valid-feedback">Datos Validos en el Campo!</div>
                                                <div class="invalid-feedback">Porfavor Introduca Datos Validos!</div>
                                            </div>                                           
                                            <div class="mb-1 col-md-6">
                                                <label class="form-label" for="basic-addon-name">Logo carrera</label>
                                                <input type="file" class="form-control" placeholder="Introdusca un logo" name="Logo" required />
                                                <div class="valid-feedback">Datos Validos en el Campo!</div>
                                                <div class="invalid-feedback">Porfavor Introduca Datos Validos!</div>
                                            </div>
                                            <div class="mb-1 col-md-6">
												<input type="submit" class="btn btn-primary" value="ENVIAR">
                    
                                            </div>                                            
                                        </div>
                                </form>                                
                            </div>
						</div>
					</div>
					<div class="col-md-8 col-12">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table id="example" class="table" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>NRO</th>
                                                <th>CARRERA</th>
                                                <th>FACULTAD</th>
                                                <th>OPERACIONES</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="c,cont : ${carreras}" th:if="${c.estado != 'X'}">
                                                <td th:text="${cont.index + 1}"></td>
                                                <td th:text="${c.nom_carrera}"></td>
                                                <td th:text="${c.facultad.nom_facultad}"></td>
                                                <td>
                                                    <a th:href="@{'/carrera/editar-carrera/' + ${c.id_carrera}}"><button class="btn btn-outline-primary"><i class="fas fa-edit"></i></button></a>
                                        			<a th:href="@{'/carrera/eliminar-carrera/' + ${c.id_carrera}}"><button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>

			<!-- /Validation -->

		</div>


	</div>

	<footer th:replace="layout/layout :: pie"></footer>

	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<!--<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->
	<script src="../../../app-assets/vendors/js/tables/datatable/datatables1.10.25.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>


	<script>
		$(document).ready(function () {
			var table = $('#example').DataTable({
				lengthChange: false,
				buttons: ['copy', 'excel', 'pdf', 'print']
			});

			table.buttons().container()
				.appendTo('#example_wrapper .col-md-6:eq(0)');
		});
	</script>
</body>

</html>