<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head">
</head>

<body class="vertical-layout vertical-menu-modern content-left-sidebar navbar-floating footer-static" data-open="click"
    data-menu="vertical-menu-modern" data-col="content-left-sidebar">

    <nav th:replace="layout/layout :: cabecera"></nav>

    <div th:replace="layout/layout :: ladera"></div>


    <div class="app-content content file-manager-application">
        <div class="content-wrapper container-xxl p-0">

            <div class="content-body">
                <!-- Validation -->
                <!-- Validation -->
                <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
                    th:text="${mensaje}" class="alert">
                </div>

                <section>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Información Académica</h4>
                                </div>
                                <div class="card-body">
                                    <form class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <label for="">Listar docentes por gestion y periodo</label>
                                                        <div class="row">
                                                            <span class="input-group-text col-md-2">Gestion</span>
                                                            <div class="col-md-3">
                                                                <Select id="gestion1" onchange="cargarListaDocentes()"
                                                                    class="select2 "></Select>
                                                            </div>
                                                            <span class="input-group-text col-md-2">Gestion</span>
                                                            <div class="col-md-3">
                                                                <Select id="gestion2" onchange="cargarListaDocentes()"
                                                                    class="select2"></Select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="seccion-lista-docentes"></div>
                </section>
            </div>

        </div>
    </div>

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <footer th:replace="layout/layout :: pie"></footer>

    <script>
        $(document).ready(function () {

            var startYear = 1900;
            var endYear = new Date().getFullYear();
            //var endYear = 2100;
            // Obtén una referencia al elemento select
            var select = document.getElementById("gestion1");
            // Agrega el nuevo elemento option al select
            for (var year = endYear; year >= startYear; year--) {
                // Crea un nuevo elemento option
                var option = document.createElement("option");
                option.text = year;
                option.value = year;
                select.add(option);
            }

            //var endYear = 2100;
            // Obtén una referencia al elemento select
            var select2 = document.getElementById("gestion2");
            // Agrega el nuevo elemento option al select
            for (var year = endYear; year >= startYear; year--) {
                // Crea un nuevo elemento option
                var option = document.createElement("option");
                option.text = year;
                option.value = year;
                select2.add(option);
            }

            cargarListaDocentes();
        });

        function cargarListaDocentes() {

            $('#seccion-lista-docentes').html('<div class="text-center">' +
                '<div class="spinner-border" role="status" id="loadingSpinner">' +
                '<span class="sr-only">Loading...</span>' +
                '</div>' +
                '</div>');
            var gestion1 = $('#gestion1').val();
            var gestion2 = $('#gestion2').val();
            //var periodo = $('#periodo').val();

            $.ajax({
                type: 'POST',
                url: '/estadisticas/listarDocentesPorCarrera/' + gestion1 + '/' + gestion2 + '/' + 8,
                success: function (data) {
                    $('#seccion-lista-docentes').html(data);
                },
                error: function () {
                    console.log("Error al obtener la lista de docentes");
                }
            });
        }

    </script>
</body>

</html>