<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head">
</head>

<body class="vertical-layout vertical-menu-modern content-left-sidebar navbar-floating footer-static" data-open="click"
	data-menu="vertical-menu-modern" data-col="content-left-sidebar">

	<nav th:replace="layout/layout :: cabecera"></nav>

	<div th:replace="layout/layout :: ladera"></div>

	<div class="app-content content file-manager-application">

		<div class="content-body">
			<!-- Validation -->
			<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
				th:text="${mensaje}" class="alert">
			</div>

			<section class="bs-validation">


				<div class="row">
					<div class="col-md-4 col-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Formulario Requisito</h4>
							</div>
							<div class="card-body">
								<form th:action="@{/RegistrarRequisito}" method="post">
									<div class="mb-1">
										<label class="form-label" for="basic-addon-name">Nombre de requisito</label>

										<input type="text" class="form-control" placeholder="Nombre"
											th:field="${requisito.nombre}" required />
										<div class="valid-feedback">Correcto!</div>
										<div class="invalid-feedback" th:if="${#fields.hasErrors('requisito.nombre')}"
											th:errors="${requisito.nombre}">Favor ingresar datos Correctos.</div>
									</div>
									<div class="mb-1">
										<label class="form-label" for="select-country1">Parametro</label>
										<select class="form-select select2" th:field="${requisito.parametros}" required>
											<option th:value="${editMode}? ${requisito.parametros.id_parametro} : ''"
												th:text="${editMode}? ${requisito.parametros.nombre}: 'Seleccionar'"
												selected>
											</option>
											<option th:each="parametro${parametros}" th:value="${parametro.id_parametro}"
												th:text="${parametro.nombre}"
												th:if="${parametro == null}"></option>
										</select>
									</div>
									<div class="mb-1">
										<a th:class="${editMode}?'btn btn-secondary'" th:href="@{/form-usuario}"
										th:text="${editMode}?'Cancelar'"></a>
									<input type="submit" class="btn btn-primary"
										th:value="${editMode}?'Actualizar':'Agregar'" />
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-8 col-12">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table id="example" class="table" style="width:100%">
										<thead>
											<tr>
												<th></th>
												<th>Nombre de requisito</th>
												<th>parametro</th>
												
											</tr>
										</thead>
										<tbody>
											<tr th:each="requisito, rowStat: ${requisitos}" th:if="${requisito.estado != 'X'}">
												<td th:text="${rowStat.count}"></td>
												<td th:text="${requisito.nombre}"></td>
                                                <td th:text="${requisito.parametros.size}"></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th></th>
												<th>Nombre de requisito</th>
												<th>parametro</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>


		</div>


	</div>

	<footer th:replace="layout/layout :: pie"></footer>

	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<!--<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->
	<script src="../../../app-assets/vendors/js/tables/datatable/datatables1.10.25.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>


	<script>
		$(document).ready(function () {
			var table = $('#example').DataTable({
				lengthChange: false,
				buttons: ['copy', 'excel', 'pdf', 'print']
			});

			table.buttons().container()
				.appendTo('#example_wrapper .col-md-6:eq(0)');

			$("#formularioUsuario").submit(function (event) {
				event.preventDefault();
				var form = document.getElementById("formularioUsuario");
				var action = form.action;
				var formData = $(this).serialize();
				$.ajax({
					type: "POST",
					url: '/BuscarUsuario/',
					data: formData,  
					contentType: "application/x-www-form-urlencoded",
					success: function (response) {
						var mensaje = response;
						//alert(mensaje);
						if (mensaje == "registra") {
							 form.submit();
						} else {
							Swal.fire({
								icon: 'error',
								title: 'Imposible Registrar',
								text: mensaje,
							});
						}
					},
					error: function (xhr, status, error) {
						toastr.error(
							"Ha ocurrido un error. Por favor, intenta nuevamente." + xhr,
							status,
							error
						);
						console.error(error);
					},
				});
			});

		});
	</script>
</body>

</html>